.custom-input {
    background-color: #ebebeb;
    border: none;
    margin: 12px;
    margin-left: 0;
    width: 100%;
    font-size: small;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}