.modal-title {
    font-size: large;
    font-weight: 700;
}

.switch-container {
    display: flex;
    align-items: center;
    margin: 5px;
}

.switch-label {
    padding-left: 5px;
    font-size: small;
}

.modal-fields {
    padding-inline: 5px;
}