$address-line-height: 18px;

.Card {
    background-color: white;
    box-shadow: 0px 1px 3px 0px #9D9D9D;
    padding-inline: 0 !important;
    margin-bottom: 30px;
    header {
        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
    .body {
        padding: 10px !important;
        h2 {
            font-size: large;
            font-weight: 700;
        }
        h4 {
            font-size: small;
            font-weight: 600;
            margin-bottom: 0;
            line-height: #{$address-line-height};
            min-height: calc(#{$address-line-height} * 2);
        }
        hr {
            margin: 10px;
        }
        .detail {
            align-items: baseline;
            text-align: center;
            .col-3 {
                padding: 0;
            }
            p {
                font-size: smaller;
            }
            .value {
                font-weight: 600;
                margin-bottom: 5px;
            }
            .unit {
                font-weight: 400;
                margin-bottom: 0;
            }
        }
        .header {
            display: flex;
            justify-content: space-between;
        }
    }
}