.App {
  background-color: #ebebeb;
  min-height: 100vh;
  color: #333333;
}

.App-container {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-inline: 10%;
}

.App-header {
  h1 {
    font-weight: 200;
    font-size: x-large;
  }
  display: flex;
  justify-content: space-between;
}